<section id="services_new" class="services">
    <h1>New account</h1>

    <div>
        <h3>Please confirm you login details</h3>

        <p class="small">
            Provider: <span id="account_provider"><%= @authhash[:provider] %></span><br />
            ID: <span id="account_id"><%= @authhash[:uid] %></span><br />
            Name: <span id="account_name"><%= @authhash[:name] %></span><br />
            Email: <span id="account_email"><%= @authhash[:email] %></span> <br />
        </p>

        <%= form_tag :controller => "services", :action => "newaccount" do %>
            <%= submit_tag "Confirm and create new account" %> <%= submit_tag "Cancel" %>
        <% end %>
    </div>

</section>