<div class="box grid_5">
  <div class="box-head"><h2>Uploads</h2></div>
  <div class="box-content no-pad">
    <table class="display" id="dt3">
      <thead>
      <tr>
        <th>Upload</th>
        <th>Type</th>
        <th>Path</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>

      <script>
          ZeroClipboard.setMoviePath('/assets/zeroclipboard/ZeroClipboard.swf');
      </script>

      <% @uploads.sort_by { |x| x.created_at }.reverse.each_with_index do |upload, i| %>
          <tr>
            <td align="center">
              <% if upload.is_image? %>
              <%= link_to((image_tag upload.upload.url(:thumb), :style => "border: 1px solid black;"), upload.upload.url(:large), {:id => "upload_#{i}"}) %>
              <% else %>
              <%=  link_to( image_tag('mime/text.png', :height => 48, :width => 48), upload.upload.url, {:id => "upload_#{i}"}) %>
              <% end %>
            </td>
            <td align="center"><%= upload.upload_content_type %></td>
            <td align="center"><%= upload.file_name %></td>
            <td align="center">

              <div id="d_clip_container_<%= i %>" style="position:relative">
                <button type="button" id="d_clip_button_<%= i %>" class="button purple">Copy</button>

              </div>

             <script>
                  function copyText_<%= i %>(event) {
                      var clip_<%= i %> = new ZeroClipboard.Client();
                      clip_<%= i %>.setText('<%= upload.upload.url(:original).split('?')[0]%>');
                      clip_<%= i %>.glue('d_clip_button_<%= i %>', 'd_clip_container_<%= i %>');
                  }

                  $('#d_clip_button_<%= i %>').mouseover(copyText_<%= i%>);
              </script>

            </td>
          </tr>
      <% end %>
      </tbody>
    </table>


    <div class="clear"></div>
  </div>
  </div>


<div class="grid_12">
  <% @article.errors.full_messages.each do |msg| %>
      <div class="ad-notif-error"><p><%= msg %></p></div>
  <% end %>
</div>
<script>
    CodeMirror.fromTextArea(document.getElementsByClassName("markdown-excerpt")[0], {
        mode:'markdown',
        matchBrackets:true,
        theme:"eclipse"
    });
    CodeMirror.fromTextArea(document.getElementsByClassName("markdown-content")[0], {
        mode:'markdown',
        matchBrackets:true,
        theme:"eclipse"
    });

    $('#dt3').dataTable({
            "bJQueryUI":true,
            "sPaginationType":"full_numbers"
        });

</script>
