<div class="box grid_7">
  <div class="box-head"><h2>Create New Article</h2></div>
  <div class="box-content">
    <%= form_for @article, :as => :article, :url => admin_create_article_url, :html => {:class => 'block-content form'} do |f| %>

        <div class="form-row">
          <p class="form-label">Title:</p>

          <div class="form-item"><%= f.text_field :title %></div>
        </div>

        <div class="form-row">
          <p class="form-label">Excerpt: <%= link_to "toggle", "#", :id => "excerpt_link" %></p>

          <div id="excerpt-editor" style="display:none;">
            <div class="form-item"><%= f.text_area :excerpt, :class => "markdown-excerpt" %></div>
          </div>
        </div>

        <div class="form-row">
          <p class="form-label">Content:</p>

          <div class="form-item"><%= f.text_area :content, :class => "markdown-content" %></div>
        </div>
        <div class="form-row">
          <p class="form-label">Tags:</p>

          <div class="form-item"><%= f.text_field :tags %></div>
        </div>
        <div class="form-row">
          <p class="form-label">Section:</p>
          <% if Section.all.empty? %>
            <p>Please <%= link_to("Create a Section", admin_new_section_path)  %> First</p>
          <% else %>
            <div class="form-item"><%= f.select(:section_id, Section.all.collect{|s| [s.name,s.id]}) %></div>
          <% end %>
        </div>
        <%= f.hidden_field(:user_id, :value => current_user.id) %>
        <div style="float:right;">
          <input type="submit" class="button yellow" value="Create Article">
        </div>

    <% end %>
    <div class="clear"></div>
  </div>
</div>

<%= render :partial => 'admin/articles/article_boxes' %>
