<div class="box grid_8">
  <div class="box-head"><h2>Create New Article</h2></div>
  <div class="box-content">
    <%= form_for @article, :as => :article, :url => admin_create_article_url, :html => {:class => 'block-content form'} do |f| %>

        <div class="form-row">
          <p class="form-label">Title:</p>

          <div class="form-item"><%= f.text_field :title %></div>
        </div>

        <div class="form-row">
          <p class="form-label">Excerpt: <%= link_to "toggle", "#", :id => "excerpt_link" %></p>

          <div id="excerpt-editor" style="display:none;">
            <div class="form-item"><%= f.text_area :excerpt, :class => "markdown-excerpt" %></div>
          </div>
        </div>

        <div class="form-row">
          <p class="form-label">Content:</p>

          <div class="form-item"><%= f.text_area :content, :class => "markdown-content" %></div>
        </div>
        <div class="form-row">
          <p class="form-label">Tags:</p>

          <div class="form-item"><%= f.text_field :tags %></div>
        </div>
        <div class="form-row">
          <p class="form-label">Section:</p>
          <% if Section.all.empty? %>
            <p>Please <%= link_to("Create a Section", admin_new_section_path)  %> First</p>
          <% else %>
            <div class="form-item"><%= f.select(:section_id, Section.all.collect{|s| [s.name,s.id]}) %></div>
          <% end %>
        </div>
        <%= f.hidden_field(:user_id, :value => current_user.id) %>
        <div style="float:right;">
          <input type="submit" class="button yellow" value="Create Article">
        </div>

    <% end %>
    <div class="clear"></div>
  </div>
</div>

<div class="box grid_4">
  <div class="box-head"><h2>Uploads</h2></div>
  <div class="box-content no-pad">
    <table class="display" id="dt3">
      <thead>
      <tr>
        <th>Upload</th>
        <th>Type</th>
        <th>Path</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>

      <script>
          ZeroClipboard.setMoviePath('/assets/zeroclipboard/ZeroClipboard.swf');
      </script>

      <% @uploads.sort_by { |x| x.created_at }.reverse.each_with_index do |upload, i| %>
          <tr>
            <td align="center">
              <% if upload.is_image? %>
              <%= link_to((image_tag upload.upload.url(:thumb), :style => "border: 1px solid black;"), upload.upload.url(:large), {:id => "upload_#{i}"}) %>
              <% else %>
              <%=  link_to( image_tag('mime/text.png', :height => 48, :width => 48), upload.upload.url, {:id => "upload_#{i}"}) %>
              <% end %>
            </td>
            <td align="center"><%= upload.upload_content_type %></td>
            <td align="center"><%= upload.file_name %></td>
            <td align="center">

              <div id="d_clip_container_<%= i %>" style="position:relative">
                <button type="button" id="d_clip_button_<%= i %>" class="button purple">Copy</button>

              </div>

              <script>
                  var clip_<%= i %> = new ZeroClipboard.Client();
                  clip_<%= i %>.setText('<%= upload.upload.url(:medium).split('?')[0]%>');
                  clip_<%= i %>.glue('d_clip_button_<%= i %>', 'd_clip_container_<%= i %>');
              </script>

            </td>
          </tr>
      <% end %>
      </tbody>
    </table>


    <div class="clear"></div>
  </div>
  </div>

  <div class="grid_8">
    <% @article.errors.full_messages.each do |msg| %>
        <div class="ad-notif-error"><p><%= msg %></p></div>
    <% end %>
  </div>

  <script>
      CodeMirror.fromTextArea(document.getElementsByClassName("markdown-excerpt")[0], {
          mode:'markdown',
          matchBrackets:true,
          theme:"eclipse"
      });
      CodeMirror.fromTextArea(document.getElementsByClassName("markdown-content")[0], {
          mode:'markdown',
          matchBrackets:true,
          theme:"eclipse"
      });


      $('#dt3').dataTable({
          "bJQueryUI":true,
          "sPaginationType":"full_numbers"
      });


      $('#dt3 a').lightBox(); // Select all links in object with gallery ID


  </script>

