<div class="box grid_12">
  <div class="box-head"><h2>Create New Section</h2></div>
  <div class="box-content">
    <%= form_for @section, :as => :section, :url => admin_create_section_url, :html => {:class => 'block-content form'} do |f| %>

        <div class="form-row">
          <p class="form-label">Name:</p>

          <div class="form-item"><%= f.text_field :name %></div>
        </div>

        <div class="form-row">
          <p class="form-label">Content:</p>

          <div class="form-item"><%= f.text_area :content, :class => "markdown-content" %></div>
        </div>

        <div style="float:right;">
          <%= render :partial => 'admin/shared/formatting_links', :locals => {:selection => @section } %>
          <input type="submit" class="button yellow" value="Create Section">
        </div>

    <% end %>
    <div class="clear"></div>
  </div>
</div>

<%= render :partial => 'admin/sections/section_boxes' %>

