<div class="box grid_8">
  <div class="box-head"><h2>Edit Upload</h2></div>
  <div class="box-content">
    <%= form_for @upload, :as => :upload, :url => admin_update_upload_url, :html => {:multipart => true, :class => 'block-content form'} do |f| %>

        <div class="form-row">
          <p class="form-label">Name:</p>

          <div class="form-item"><%= @upload.file_name %></div>
        </div>

        <div class="form-row">
          <p class="form-label">Content:</p>

          <div class="form-item"><%= f.text_area :content, :class => "markdown-content" %></div>
        </div>

        <div style="float:right;">
          <%= render :partial => 'admin/shared/formatting_links', :locals => {:selection => @upload } %>
          <input type="submit" class="button yellow" value="Update Content">
        </div>

    <% end %>
    <div class="clear"></div>
  </div>
</div>

<%= render :partial => 'admin/uploads/upload_boxes' %>



