<div class="box grid_10">
  <div class="box-head"><h2>Edit Snippet</h2></div>
  <div class="box-content">
    <%= form_for @snippet, :as => :snippet, :url => admin_update_snippet_url, :html => {:class => 'block-content form'} do |f| %>

        <div class="form-row">
          <p class="form-label">Name:</p>

          <div class="form-item"><%= f.text_field :name %></div>
        </div>

        <div class="form-row">
          <p class="form-label">Content:</p>

          <div class="form-item"><%= f.text_area :content, :class => "markdown-content" %></div>
        </div>

        <div style="float:right;">
          <%= render :partial => 'admin/shared/formatting_links', :locals => {:selection => @snippet } %>
          <input type="submit" class="button yellow" value="Update Snippet">
        </div>

    <% end %>
    <div class="clear"></div>
  </div>
</div>

<%= render :partial => 'admin/snippets/snippet_boxes' %>

