
<select id="modeSelector">
  <option <%= raw selected?(selection, :markdown)%> >markdown</option>
  <option <%= raw selected?(selection, :text_html)%> >text/html</option>
  <option <%= raw selected?(selection, :css)%> >css</option>
  <option <%= raw selected?(selection, :javascript)%> >javascript</option>
  <option <%= raw selected?(selection, :none)%> >none</option>
</select>

<a class="button blue" href="javascript:autoFormatSelection()">
  Autoformat
</a>

<a class="button grey" href="javascript:commentSelection(true)">
  Comment Selected
</a>

<a class="button grey" href="javascript:commentSelection(false)">
  Uncomment Selected
</a>

<script>
    $('#modeSelector').change(function()
     {
         editor.setOption("mode", $(this).attr('value'));
         CodeMirror.autoLoadMode(editor, $(this).attr('value'));
     });
</script>