<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Masterthought</title>
  <%= stylesheet_link_tag :ad, :master, :tables, 'iphone-check', 'jquery.lightbox-0.5' %>
  <%= javascript_include_tag 'jquery-1.7.1.min.js', 'global.js', 'jquery-ui-1.8.17.min.js', 'jquery.tipTip.js', 'sticky.full.js', 'jquery.dataTables.min.js', 'forms/iphone-check.js', 'nicEdit.js', 'CodeMirror-2.25/lib/codemirror.js', 'CodeMirror-2.25/mode/markdown/markdown.js', 'CodeMirror-2.25/mode/xml/xml.js', 'jquery.easy-confirm-dialog.js', 'jquery.lightbox-0.5.pack.js', 'zeroclipboard/ZeroClipboard.js' %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="favicon.gif">
  <link rel="stylesheet" href="/assets/CodeMirror-2.25/lib/codemirror.css">
  <link rel="stylesheet" href="/assets/CodeMirror-2.25/theme/eclipse.css">
  <!---jQuery Files-->
  <!--<script src="js/jquery-1.7.1.min.js"></script>-->
  <!--<script src="js/jquery-ui-1.8.17.min.js"></script>-->
  <!--<script src="js/styler.js"></script>-->
  <!--<script src="js/jquery.tipTip.js"></script>-->
  <!--<script src="js/colorpicker.js"></script>-->
  <!--<script src="js/sticky.full.js"></script>-->
  <!--<script src="js/global.js"></script>-->
  <!--<script src="js/flot/jquery.flot.min.js"></script>-->
  <!--<script src="js/flot/jquery.flot.resize.min.js"></script>-->
  <!--<script src="js/jquery.dataTables.min.js"></script>-->
  <!--<script src="js/forms/fileinput.js"></script>-->
  <!--<script src="js/forms/iphone-check.js"></script>-->
  <!---Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lte IE 8]>
  <!--<script language="javascript" type="text/javascript" src="js/flot/excanvas.min.js"></script>-->
  <![endif]-->

  <style type="text/css">
      .CodeMirror {
          border: 1px solid #ddd;
      }
  </style>

</head>
<body>

<!--- HEADER -->

<div class="header">
  <a href="/admin"><%= image_tag("logo.png") %></a>
</div>

<div class="top-bar">
  <ul id="nav">
    <li id="user-panel">
      <%= image_tag("http://graph.facebook.com/#{current_user.name.gsub(' ', '')}/picture", :id => "usr-avatar", :style => "padding: 1px;background-color:#7D7D7D;") %>
      <div id="usr-info">
        <p id="usr-name"><%= current_user.name %></p>

        <p><%= link_to "Settings", services_path %><%= link_to "Sign out", signout_services_path %></p>
      </div>
    </li>
    <li>
      <ul id="top-nav">
        <li class="nav-item">
          <a href="/admin"><img src="/assets/nav/tb-active.png" alt=""/>

            <p>Articles</p></a>
        </li>
        <li class="nav-item">
          <a href="/admin/uploads/new"><img src="/assets/nav/gal.png" alt=""/>

            <p>Assets</p></a>
        </li>

        <li class="nav-item">
          <a href="/admin/sections/new"><img src="/assets/nav/flm.png" alt=""/>

            <p>Sections</p></a>
        </li>

        <li class="nav-item">
          <a href="/admin/snippets/new"><img src="/assets/nav/icn.png" alt=""/>

            <p>Snippets</p></a>
        </li>

        <li class="nav-item">
          <a href="/admin/assets/new"><img src="/assets/nav/dash.png" alt=""/>

            <p>Settings</p></a>
        </li>

      </ul>
    </li>
  </ul>
</div>

<!--- CONTENT AREA -->

<div class="content container_12">


  <% flash.each do |key, value| %>
      <div class="ad-notif-<%= key %>  grid_12"><p><%= value %></p></div>
  <% end %>

  <%= yield %>

</div>

<div class="footer">
  <p>Powered by MasterBlog</p>
</div>

<script> /* SCRIPTS */
//$(function () {
//    var sin = [], cos = [];
//    for (var i = 0; i < 14; i += 0.5) {
//        sin.push([i, Math.sin(i)]);
//        cos.push([i, Math.cos(i)]);
//    }
//    var plot = $.plot($("#flot-demo"),
//            [
//                { data:sin, label:"Green", color:"#71a100"},
//                { data:cos, label:"Blue", color:"#308eef" }
//            ], {
//                series:{
//                    lines:{ show:true },
//                    points:{ show:true }
//                },
//                grid:{ hoverable:true },
//                yaxis:{ min:-1.2, max:1.2 }
//            });
//    var previousPoint = null;
//    $("#flot-demo").bind("plothover", function (event, pos, item) {
//        if ($("#enablePosition:checked").length > 0) {
//            var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
//            $("#hoverdata").text(str);
//        }
//    });
//});
///* for the flot chart demo */
//
//$('#example').dataTable({
//    "bJQueryUI":true
//});
///* For the data tables */
//
//$('#iphone-check').iphoneStyle();
//$("#datepicker").datepicker();
//$("#colorpicker").ColorPicker();
///* for the iPhone style checkbox, colorpicker and datepicker */

</script>

</body>

</html>