<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Masterthought</title>
  <%= stylesheet_link_tag :ad, :master, :tables, 'iphone-check', 'jquery.lightbox-0.5', 'uploadify-v3.1/uploadify.css' %>
  <%= javascript_include_tag 'jquery-1.7.1.min.js', 'global.js', 'jquery-ui-1.8.17.min.js', 'jquery.tipTip.js', 'sticky.full.js', 'jquery.dataTables.min.js', 'forms/iphone-check.js', 'nicEdit.js', 'CodeMirror-2.25/lib/codemirror.js', 'CodeMirror-2.25/mode/markdown/markdown.js', 'CodeMirror-2.25/mode/xml/xml.js', 'CodeMirror-2.25/mode/css/css.js', 'CodeMirror-2.25/mode/htmlmixed/htmlmixed.js', 'CodeMirror-2.25/mode/javascript/javascript.js', 'CodeMirror-2.25/lib/util/match-highlighter.js', 'CodeMirror-2.25/lib/util/searchcursor.js', 'CodeMirror-2.25/lib/util/formatting.js', 'CodeMirror-2.25/lib/util/closetag.js', 'jquery.easy-confirm-dialog.js', 'jquery.lightbox-0.5.pack.js', 'zeroclipboard/ZeroClipboard.js', 'uploadify-v3.1/jquery.uploadify-3.1.js', 'jquery.jeditable.mini.js'%>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="favicon.gif">
  <link rel="stylesheet" href="/assets/CodeMirror-2.25/lib/codemirror.css">
  <link rel="stylesheet" href="/assets/CodeMirror-2.25/theme/eclipse.css">
  <!---Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lte IE 8]>
  <!--<script language="javascript" type="text/javascript" src="js/flot/excanvas.min.js"></script>-->
  <![endif]-->

  <style type="text/css">
      .CodeMirror {
          border: 1px solid #ddd;
      }

      span.CodeMirror-matchhighlight {
          background: #e6d831
      }

      .CodeMirror-focused span.CodeMirror-matchhighlight {
          background: #e6d831;
      !important
      }
  </style>

</head>
<body>
<div class="wrapper">

  <!--- HEADER -->

  <div class="header">
    <a href="/admin"><%= image_tag("logo.png") %></a>
  </div>

  <div class="top-bar">
    <ul id="nav">
      <li id="user-panel">
        <%= image_tag("http://graph.facebook.com/#{current_user.name.gsub(' ', '')}/picture", :id => "usr-avatar", :style => "padding: 1px;background-color:#7D7D7D;") %>
        <div id="usr-info">
          <p id="usr-name"><%= current_user.name %></p>

          <p><%= link_to "Settings", services_path %><%= link_to "Sign out", signout_services_path %></p>
        </div>
      </li>
      <li>
        <ul id="top-nav">
          <li class="nav-item">

            <a href="/admin"><img src="/assets/nav/<%= active?(params[:controller],'admin','tb') %>" alt=""/>

              <p>Articles</p></a>
          </li>
          <li class="nav-item">
            <a href="/admin/uploads/new"><img src="/assets/nav/<%= active?(params[:controller],'admin/uploads','gal') %>" alt=""/>

              <p>Uploads</p></a>
          </li>

          <li class="nav-item">
            <a href="/admin/sections/new"><img src="/assets/nav/<%= active?(params[:controller],'admin/sections','flm') %>" alt=""/>

              <p>Sections</p></a>
          </li>

          <li class="nav-item">
            <a href="/admin/snippets/new"><img src="/assets/nav/<%= active?(params[:controller],'admin/snippets','icn') %>" alt=""/>

              <p>Snippets</p></a>
          </li>

          <li class="nav-item">
                      <a href="/admin/users/show"><img src="/assets/nav/err.png" alt=""/>

                        <p>Users</p></a>
                    </li>

          <li class="nav-item">
            <a href="/admin/settings/new"><img src="/assets/nav/dash.png" alt=""/>

              <p>Settings</p></a>
          </li>


        </ul>
      </li>
    </ul>
  </div>

  <!--- CONTENT AREA -->

  <div class="content container_12">


    <% flash.each do |key, value| %>
        <div class="ad-notif-<%= key %>  grid_12"><p><%= value %></p></div>
    <% end %>

    <%= yield %>

  </div>

  <div class="footer">
    <p>Powered by MasterBlog</p>
  </div>

</div>
</body>

</html>